.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid black;

  button[data-role="mode"] {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 4px solid black;

    &:active {
      transform: scale(1.1);
    }
  }

  a {
    font-size: 1.5em;
    font-weight: bold;
  }

  .header-icons {
    display: flex;
    gap: 3rem;
    padding: .5rem 1rem;
  }

  .icon {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
  }
  .item-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
  }
}

.dark {
  background-color: black;
  color: white;
}
