* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.not-found {
  background: linear-gradient(135deg, #d7dbdd, #121113);
  height: 100vh;
  text-align: center;
}
.not-found-title {
 
  font-size: 18vw;
  color: #fff;
  line-height: 1em;
  position: relative;
}
.not-found-subtitle {
  position: relative;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #111;
  background: #fff;
  font-weight: 300;
  padding: 10px 20px;
  display: inline-block;
}
.not-found-message {
  font-size: 1.2em;
  color: #fff;
}
.not-found-link {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  background: #1a1819;
  color: #fff;

  border-radius: 25px;
  border-bottom: 4px solid #1d1015;

  text-decoration: none;
  margin-top: 20px;


}
