.ProductsPage {
  min-height: 100svh;
  background-color: rgb(238, 238, 238);
  padding: 2rem;
  color: black;
  display: flex;
  justify-content: center;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .active {
    text-decoration: underline;
    text-underline-offset: 7px;
  }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10%;
  }

  .notFound {
    text-align: center;
    margin: 5rem auto;
  }

  .productsInCategory {
    padding: 2rem;
    gap: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;

    li {
      margin-block: 1rem;
      width: 10rem;
      aspect-ratio: 1/2;
      overflow: hidden;
      background-color: rgb(225, 225, 225);

      img {
        width: 100%;
        aspect-ratio: 3/4;
        object-fit: cover;
      }

      p {
        padding: 0.5rem 1rem;
      }

      p.productTitle {
        height: 3.5rem;
        overflow: hidden;
      }

      p.productPrice {
        font-weight: bold;
      }
    }
  }

  .category {
    width: 80%;
  }

  aside {
    width: 10rem;
    overflow: hidden;


    .priceBar {
      width: 5rem;

      input[type="checkbox"] {
        display: none;
      }

      img {
        margin-left: auto;
        width: 1rem;
      }

      img[alt="arrow-down"] {
        display: none;
      }

      .barTitle {
        width: 100%;
        display: flex;
        align-items: center;
      }

      &:has(input[type="checkbox"]:checked) {
        .extensionBar {
          display: none;
        }

        img[alt="arrow-up"] {
          display: none;
        }

        img[alt="arrow-down"] {
          display: inline-block;
        }
      }
    }
  }
}

.ProductsPageDark {
  background-color: black;
  color: white;

  a {
    color: rgb(255, 255, 255);
  }

  .productsInCategory {
    li {
      background-color: rgb(54, 54, 54);
    }
  }
}