.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
  /* background-color: #ffffff; */

  img {
    width: 30%;
    margin-right: 20px;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* h3 {
      color: black;
    } */

    .description {
      /* color: black; */
      margin: 20px 0;
      margin-right: 3rem;
      width: 50%;
    }
  }

  .rating {
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: #000000;
  }

  .stars {
    font-size: 20px;
    margin-right: 5px;
  }

  .star.full {
    color: #000000;
  }

  .star.half {
    color: #000000;
  }

  .star.empty {
    color: #000000;
  }

  a {
    margin-right: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 1, 1);
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    padding: 0.3rem;
    margin: 0.3rem;
    text-align: center;
    cursor: pointer;
  }

  .sizes {
    margin-top: 12px;
  }

  .sizes p {
    margin-bottom: 8px;
    font-weight: bold;
  }

  .size-button {
    padding: 8px 12px;
    margin: 4px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color:rgb(40, 37, 33);
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.2s;
  }

  .stockQuantity {
    padding: 8px;

    span:first-child {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
